extends layout 

block content
      table(class='table table-striped')
        colgroup
          col(width='11.6%')
          col(width='34.8%')
          col(width='28.6%')
          col(width='25%')
        thead(style='height: 65px;' class="thead-light")
            th.u-table-cell #
            th.u-table-cell Name
            th.u-table-cell error
            th.u-table-cell action
        tbody
          tr(style='height: 65px;')
            td.u-table-cell Row 1
            td.u-table-cell Description
            td.u-table-cell Description
            td.u-table-cell
              button(href='' type="button" class="btn btn-warning btn-sm") skip
              buttom(href='' type="button" class="btn btn-danger btn-sm") delete
              buttom(href='' type="button" class="btn btn-info btn-sm") run again
          tr(style='height: 65px;')
            td.u-table-cell Row 2
            td.u-table-cell Description
            td.u-table-cell Description
            td.u-table-cell 
                button(href='' type="button" class="btn btn-warning btn-sm") skip
                buttom(href='' type="button" class="btn btn-danger btn-sm") delete
                buttom(href='' type="button" class="btn btn-info btn-sm") run again
          tr(style='height: 65px;')
            td.u-table-cell Row 3
            td.u-table-cell Description
            td.u-table-cell Description
            td.u-table-cell 
                button(href='' type="button" class="btn btn-warning btn-sm") skip
                buttom(href='' type="button" class="btn btn-danger btn-sm") delete
                buttom(href='' type="button" class="btn btn-info btn-sm") run again
          tr(style='height: 65px;')
            td.u-table-cell Row 4
            td.u-table-cell Description
            td.u-table-cell Description
            td.u-table-cell 
                button(href='' type="button" class="btn btn-warning btn-sm") skip
                buttom(href='' type="button" class="btn btn-danger btn-sm") delete
                buttom(href='' type="button" class="btn btn-info btn-sm") run again